html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

body {
/* background: rgba(76,76,76,1);
background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 4%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 62%, rgba(43,43,43,1) 78%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(4%, rgba(71,71,71,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(62%, rgba(17,17,17,1)), color-stop(78%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 4%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 62%, rgba(43,43,43,1) 78%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 4%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 62%, rgba(43,43,43,1) 78%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 4%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 62%, rgba(43,43,43,1) 78%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 4%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 62%, rgba(43,43,43,1) 78%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 ); */
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/Background6.jpg");
/* background-image: url("../img/Background6.jpg"); */
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.link-button {
  text-decoration: none;
  margin:10px
}


  .titleOfScreen {
    font-size: 100px;
  }

@media (max-width:818px) {
  .titleOfScreen {
    font-size: 30px;
  }
}

.shadow-container {
-webkit-box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
}