#logForm{
    margin: 200px auto;
    width: 40%;
    padding: 50px;
}

#regForm{
    margin: 100px auto;
    width: 60%;
    padding: 50px;
}

#teamcreatorForm {
    margin: 100px auto;
    padding: 50px;
}

#tableWindow {
    margin: 100px auto;
    padding: 50px;
}

#delAccForm {
    margin: 200px auto;
    padding: 50px;
    width: 30%;
}

#changePasswordForm {
    margin: 200px auto;
    padding: 50px;
    width: 40%;
}