#logForm{
    margin: 200px auto;
    width: 40%;
    padding: 50px;
}

#regForm{
    margin: 100px auto;
    width: 60%;
    padding: 50px;
}

#teamcreatorForm {
    margin: 200px auto;
    padding: 20px;
}

#teamBuilderForm{
    margin:100px auto;
    padding:20px;
}

#tableWindow {
    margin: 100px auto;
    padding: 50px;
}

#delAccForm {
    margin: 200px auto;
    padding: 50px;
    width: 30%;
}

#changePasswordForm {
    margin: 200px auto;
    padding: 50px;
    width: 40%;
}

.loading {
    margin:150px auto
}

#ranking {
    margin: 150px auto;
    padding: 50px;
}