#info {
    margin: 150px auto;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 14px 17px 0px rgba(0,0,0,0.75);
}